extends layout

block style
    style
        include ../static/style1.css
    block title
        title Dev Page | altrNATIVE

block content
    .gradiantDiv
        -var message = msg || '';
        -var entryRec=entrySent
        .messages
            .succMsg
                h2=message

        .formDiv
            form(action="/entries/edit/"+entryRec._id , method="POST", class="myEntries")

                .country
                    .chineseLabel
                        label(for="Chinese Name") Chinese Product Name:
                        input(type="text" id="productName" name="chinese_name" value=entryRec.chinese.name)
                        
                        label(for="Chinese Company" ) Product Company Name:
                        input(type="text" id="productCompany" name="chinese_company"  value=entryRec.chinese.company)

                    .otherLabel
                        label(for="Other Name") Alternative Product Name:
                        input(type="text" id="productName" name="other_name" value=entryRec.other.name)
                        
                        label(for="Other Company" ) Company Name:
                        input(type="text" id="productCompany" name="other_company" value=entryRec.other.company)

                        label(for="Other Country" ) Company Country(Optional):
                        //select#country(name='other_country' value=entry.other.country)
     
                        label(for="Other Made In") Made in:
                        textarea( name="other_madeIn" id="textInput")=value=entryRec.other.madeIn
                           
                    .commonProductType
                        label(for="Product Category") Product Category:
                        input(type="text" id="productCategory" name="productCategory_mainCategory" value=entryRec.productCategory.mainCategory)
                        label(for="Product Category") Sub Category (Optional):
                        input(type="text" id="subCategory" name="productCategory_subCategory" value=entryRec.productCategory.subCategory)
                        
               
                       

                button.btn Submit