extends layout

block style
    style
        include ../static/styleCard.css
        include ../static/card.css
    block title
        title Altrnatives | altrNATIVE
 
block content
    -var message = msg || '';
    h2=message
    -var n = 1
    -var dataB = databaseSent;
    
    .content
        .searchBar
            #search
                input(type="text" id="myInput" onkeyup="myFunctionAlt()" placeholder="Enter product name...")
                //input(type="text" id="myInput2" onkeyup="myFunction2Alt()" placeholder="Search by 'Made in' country...")
        .cards
            #cardSpl
                .code

                    .colorCode
                        h5 Color Code:
                    .divChina
                        h4 CHINESE
                    .divOthers
                        h4 ALTRNATIVE
                    .divCat
                        h4 CATEGORY
                    .dateFor        
                        h4 Date Format: DD-MM-YYYY
                    .hideButton
                        button.btn.btnH(onclick="FunctionH()") Close
            each val in dataB
                -var dateDay=val.date.getDate()
                -var dateMonth=val.date.getMonth()+1
                -var dateYear=val.date.getYear()-100+2000

                #card.card
                    .num
                        h3=n++
                    .cardContent
                        .chineseD
                            h4.chinaVal 
                                u
                                    | Chinese Product
                            br
                            h5.chinaVal="Name: "
                            h3.imp=val.chinese.name
                
                            h5.chinaVal="Company: "
                            h3=val.chinese.company
                            br
                        .otherD
                            h4.otherVal
                                u 
                                    | Altrnative Product
                            br
                            h5.otherVal="Name: "
                            h3=val.other.name
                
                            h5.otherVal="Made In: "
                            h3=val.other.madeIn
                
                            h5.otherVal="Company: "
                            h3=val.other.company
                
                            h5.otherVal="Company's Origin: "
                            h3=val.other.country
                            br
                
                        .categoryD
                            h4.catVal
                                u
                                    | Department Details
                            br
                            h5.catVal="Category: "
                            h3=val.productCategory.mainCategory
                
                            h5.catVal="Sub Category: "
                            h3=val.productCategory.subCategory
                            
                        .date
                            h4.date
                                u
                                    | Date
                            h3=dateDay +'-' + dateMonth +'-' + dateYear
                        //a(href="/entries/edit/"+val._id)="Edit"
                
block script 
    script
        include ../static/filter.js

    
        
    
