extends layout

block title
    title Home | altrNATIVE
block style
    style
        include ../static/homeStyle.css
        include ../static/slideStyle.css
        include ../static/styleCard.css
        include ../static/card.css

block script
    script 
        include ../static/slideShow.js

block content

    
        .tape.tape1
            .part1
                img(src="images/svg/new tape1.svg", alt="")
            .part2
            
                h3.slideInLeftDelay Search for 
                h2.slideInLeft.splText ALTERNATIVE 
                h3.slideInLeftDelay Products
                
                a(href="#anchor1") 
                    button.btn.slideInLeftDelay Explore
        
        #anchor1.tape.tape2
            .partFull.scale-up-ver-top
                .card
                    .cardContent
                        .chineseD
                            h4.chinaVal 
                                u
                                    | Chinese Product
                            br
                            h5.chinaVal="Name: "
                            h3="UC Browser"
                
                            h5.chinaVal="Company: "
                            h3="UCWeb Alibaba Group"
                            br
                        .otherD
                            h4.otherVal
                                u 
                                    | Altrnative Product
                            br
                            h5.otherVal="Name: "
                            h3="Jio Browser"
                
                            h5.otherVal="Made In: "
                            h3="India"
                
                            h5.otherVal="Company: "
                            h3="Reliance Industries"
                
                            h5.otherVal="Company's Origin: "
                            h3="India"
                            br
                
                        .categoryD
                            h4.catVal
                                u
                                    | Department Details
                            br
                            h5.catVal="Category: "
                            h3="Android/IOS App"
                
                            h5.catVal="Sub Category: "
                            h3="Browser"
                .card
                    .cardContent
                        .chineseD
                            h4.chinaVal 
                                u
                                    | Chinese Product
                            br
                            h5.chinaVal="Name: "
                            h3="Realme XT"
                
                            h5.chinaVal="Company: "
                            h3="Realme"
                            br
                        .otherD
                            h4.otherVal
                                u 
                                    | Altrnative Product
                            br
                            h5.otherVal="Name: "
                            h3="Samsung M40"
                
                            h5.otherVal="Made In: "
                            h3="India, Finland"
                
                            h5.otherVal="Company: "
                            h3="Samsung"
                
                            h5.otherVal="Company's Origin: "
                            h3="South Korea"
                            br
                
                        .categoryD
                            h4.catVal
                                u
                                    | Department Details
                            br
                            h5.catVal="Category: "
                            h3="Electronics"
                
                            h5.catVal="Sub Category: "
                            h3="Smartphones"
                .card
                    .cardContent
                        .chineseD
                            h4.chinaVal 
                                u
                                    | Chinese Product
                            br
                            h5.chinaVal="Name: "
                            h3="Solar inverter 3000TL3-S"
                
                            h5.chinaVal="Company: "
                            h3="Growatt"
                            br
                        .otherD
                            h4.otherVal
                                u 
                                    | Altrnative Product
                            br
                            h5.otherVal="Name: "
                            h3="NXG Solar UPS"
                
                            h5.otherVal="Made In: "
                            h3="India"
                
                            h5.otherVal="Company: "
                            h3="Luminous Power Technologies"
                
                            h5.otherVal="Company's Origin: "
                            h3="India"
                            br
                
                        .categoryD
                            h4.catVal
                                u
                                    | Department Details
                            br
                            h5.catVal="Category: "
                            h3="Electronics"
                
                            h5.catVal="Sub Category: "
                            h3="Solar Inverters"                        
                .card
                    .cardContent
                        .chineseD
                            h4.chinaVal 
                                u
                                    | Chinese Product
                            br
                            h5.chinaVal="Name: "
                            h3="WPS Office"
                
                            h5.chinaVal="Company: "
                            h3="Kingsoft"
                            br
                        .otherD
                            h4.otherVal
                                u 
                                    | Altrnative Product
                            br
                            h5.otherVal="Name: "
                            h3="Microsoft Office"
                
                            h5.otherVal="Made In: "
                            h3="United States of America"
                
                            h5.otherVal="Company: "
                            h3="Microsoft."
                
                            h5.otherVal="Company's Origin: "
                            h3="United States of America"
                            br
                
                        .categoryD
                            h4.catVal
                                u
                                    | Department Details
                            br
                            h5.catVal="Category: "
                            h3="Desktop/Mobile App"
                
                            h5.catVal="Sub Category: "
                            h3="Productivity"
            .buttonDiv 
                a(href="/entries")
                    button.btn.orange Search Now

    
        .tape.tape3
            .part1
                .text
                    h4.slideInLeft A way forward to
                    h3.slideInLeftDelay Self Reliance


            .part2
                .slide-container
                  .effect.slide
                    img(src='images/cycle photo.webp')
                  .effect.slide
                    img(src='images/wokers1.jpg')
                  .effect.slide
                    img(src='images/t_18.webp')

               
        .tape.tape4
            .part1
                h3.slideInLeft Benefits

            .part2 
                .ticks.scale-up-ver-top
                    .col.tickCol1
                        .oneTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Better Quality Products
                        .twoTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Cheaper Products
                        .threeTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Ease of doing Business
                    .col.tickCol2
                        .oneTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Creates Jobs
                        .twoTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Up-gradation of Technology
                        .threeTick
                            img(src="images/svg/tick.svg", alt="")
                            h4 Boost India’s Economic Growth
                    a(href="/makeinindia")
                        button.btn Know More

        .tape.tape5
            .part1
                h1.slideInLeftDelay Have an 
                h3.slideInLeft alternative 
                h1.slideInLeftDelay in mind? 
                h3.slideInLeft Start Posting Now!
                a(href="/post")
                    button.btn.slideInLeftDelay Post Now
                

            .part2
                
    
    
